body {
	font-family: Helvetica;
}

#clock {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 30px;
	margin: 0.5em 0.5em 0 0;
}

ul {
	list-style: none;
	margin: -100px 0 0 600px;

	font-size: 40px;
	line-height: 2;
}

li {
	-webkit-transition: font-size 5s linear,
	                    margin-top 5s linear,
	                    height 5s linear;
}

li:first-child {
	height: 100px;
	font-size: 80px;
}

li:nth-child(2) {
	margin-top: 200px;
	font-size: 80px;
}

li:nth-child(2):before {
	content: "Now: ";
}

li:nth-child(3) {
	font-size: 60px;
}

li:nth-child(3):before {
	content: "Next: ";	
}